<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Cantinas da Universidade de Aveiro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail item-start>
      <ion-img src='crasto.jpg'></ion-img>
    </ion-thumbnail>
    <p>Cantina do Crasto</p>
    <button ion-button [navPush]="cantcrastoPage" clear item-end><ion-icon name="restaurant"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <ion-img src='santcant.jpeg'></ion-img>
    </ion-thumbnail>
    <p>Cantina de Santiago</p>
    <button ion-button [navPush]="cantsantiagoPage" clear item-end><ion-icon name="restaurant"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <ion-img src='univref.jpg'></ion-img>
    </ion-thumbnail>
    <p>Restaurante Universitário</p>
    <button ion-button [navPush]="univrestPage" clear item-end><ion-icon name="restaurant"></ion-icon></button>
  </ion-item>
</ion-content>
