<ion-header>

  <ion-navbar>
    <ion-title>Cantina do Crasto - Ementa</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-thumbnail item-start>
    <ion-img src='crasto.jpg'></ion-img>
  </ion-thumbnail>
  <ion-card *ngFor="let data of crastoMeals">
    <ion-card-header>
      {{data.header}}
    </ion-card-header>
    <ion-card-content *ngFor="let i of data.content">
      {{i}}
    </ion-card-content>
  </ion-card>
</ion-content>