<ion-header>

    <ion-navbar>
      <ion-title>Cantina de Santiago - Ementa</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <ion-card *ngFor="let data of santiagoMeals">
      <ion-card-header>
        {{data.header}}
      </ion-card-header>
      <ion-card-content *ngFor="let i of data.content">
        {{i}}
      </ion-card-content>
    </ion-card>
  </ion-content>